@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: #EE3E54; 
  /* bg-red-500 */
  --color2: #E4B218;
  /* bg-yellow-400 */
  --color3: #FCE0A2;
  /* bg-amber-200 */
  --color4: #00A698;
  /* bg-teal-400 */
}
